@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.01rem;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}   

.top-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 28rem;
}   

.top-subheading{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.top-subheading h2{
    font-size: 1rem;
    font-weight: 600;
    color: #5d2de6;
    text-align: center;
}

.top-heading{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-heading h2{
    font-size: 2.4rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.bottom-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    column-gap: 2rem;
    
}

.card{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 0rem 2rem;
    row-gap: 2rem;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.middle-card{
    padding: 3rem 2rem;
}

.card-container .card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  

.card h3{
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}

.card p{
    font-size: 1rem;
    font-weight: 400;
    color: #666;
}

.image-container{
    width: 100%;
    height: auto;
    border-radius: 3.5rem 3.5rem 0rem 0rem;
    border-width: 12px 12px 0px 12px;
    border-style: solid;
    border-color: #4d516a;
    display: block;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.performance-image{
    border-radius: 0rem;
    border: none;
    display: block;
}

.security-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: relative;
}  

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 435px;
    display: block;
}

.text-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 0.8rem;
}

.card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    row-gap: 2rem;
}

.card-container .card{
    width: 100%;
    height: 100%;
    min-height: 100%;
    flex: 1;
}

.title-container{
    width: 100%;
    height: auto;
}

.description-container{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1280px) {
    .top-container {
      padding: 4rem 10rem;
    }
  }
  
  @media screen and (max-width: 1120px) {
    .top-container {
      padding: 4rem 6rem;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .top-container {
      width: 100%;
      padding: 4rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .bottom-container {
      flex-direction: column;
      align-items: stretch;
      row-gap: 2rem;
    }
  
    .card-container {
      flex-direction: column;
      width: 100%;
    }
  
    .card,
    .card-container,
    .card-container .card {
      width: 100%;
      height: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 816px) {
    .top-container {
      padding: 4rem 2rem;
    }
  
    .top-heading h2 {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
    }
  
    .bottom-container {
      flex-direction: column;
      align-items: stretch;
      row-gap: 2rem;
    }
  
    .card-container {
      flex-direction: column;
    }
  
    .card,
    .card-container,
    .card-container .card {
      width: 100%;
      height: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .top-container {
      padding: 2rem 1rem;
    }
  
    .bottom-container {
      flex-direction: column;
      row-gap: 2rem;
    }
  
    .card-container {
      flex-direction: column;
    }
  
    .card,
    .card-container,
    .card-container .card {
      width: 100%;
      height: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 320px) {
    .top-container {
      padding: 2rem 0.5rem;
    }
  
    .bottom-container {
      flex-direction: column;
      row-gap: 2rem;
    }
  
    .card-container {
      flex-direction: column;
    }
  
    .card,
    .card-container,
    .card-container .card {
      width: 100%;
      height: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  